{% extends "base.html" %}

{% block title %}Login{% endblock title %}

{% block style %}<link rel="stylesheet", href="{{ url_for('static', filename='css/auth.css') }}">{% endblock style %}

{% block content %}
<form action="" method="post">
    <input type="text" name="username" placeholder="User name"><br>
    <input type="password" name="password" placeholder="Password"><br>
    <input type="submit" name="submit" value="Submit"><br><br>
    <a class="to-register" href="/auth/register">Not a member yet? Sign up Now! ⭐️</a>
</form>
{% endblock content %}